.main
  background-color: #6A4973
  color: #D7C7D9
  position: relative
  display: table
  width: 100%
  text-align: center

  .headers
    display: table-cell
    vertical-align: middle
    padding: 5em 0

    h1
      color: #fff
      font-family: "Comfortaa", sans-serif
      font-size: 3em

    h2
      font-family: "Roboto Serif", serif
