.main
  background-color: rgba(106, 73, 115, 0.8)
  color: #D7C7D9
  position: relative
  display: table
  width: 100%
  text-align: center

  .headers
    display: table-cell
    vertical-align: middle
    padding: 5em 0

    h1
      color: #fff
      font-family: "Comfortaa", sans-serif
      font-size: 3em

    h2
      font-family: "Roboto Serif", serif

  .large-star
    width: 28em
    position: absolute
    top: 1em
    z-index: -1
